.server-error {
  margin: 4rem;
  height: 50vh;

  i {
    font-size: 2rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    width: 200px;
  }
}
