<div class="container mt-5">

    <button class="btn btn-outline-primary mr-3" (click)="get500Error()">500 Server error</button>
    <button class="btn btn-outline-primary mr-3" (click)="get400Error()"> 400 Bad request error</button>
    <button class="btn btn-outline-primary mr-3" (click)="get400ValidationError()"> 400 Validation error</button>
    <button class="btn btn-outline-primary mr-3" (click)="get404Error()">404 Not found error</button>
    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>

    </div>
</div>