<div>
    <div>
        <h4>Shippping Address</h4>
        <button [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
            (click)="saveDefaultAddress()">
            Save as default address
        </button>

    </div>
    <div [formGroup]="checkoutForm">
        <div formGroupName="addressForm">
            <div>
                <app-text-inputs [label]="'FirstName'" formControlName="firstName"></app-text-inputs>
            </div>
            <div>
                <app-text-inputs [label]="'LastName'" formControlName="lastName"></app-text-inputs>
            </div>
            <div>
                <app-text-inputs [label]="'Street'" formControlName="street"></app-text-inputs>
            </div>
            <div>
                <app-text-inputs [label]="'City'" formControlName="city"></app-text-inputs>
            </div>
            <div>
                <app-text-inputs [label]="'PostalCode'" formControlName="postalCode"></app-text-inputs>
            </div>
        </div>

    </div>


</div>

<div>
    <button routerLink="/basket"><i class="fa fa-angle-left"></i> Back to Basket</button>
    <button cdkStepperNext> Go to Review <i class="fa fa-angle-right"></i></button>
</div>