header {
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  .promo-img-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    z-index: 3;
    overflow: hidden;
  }

  .main-img {
    margin-left: 17rem;
  }

  .video-wrapper {
    width: 60%;
    overflow: hidden;
    position: relative;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    z-index: 1;
  }

  video {
    height: 100vh;
  }

  .product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    position: relative;

    .product-info {
      padding: 2rem;
      height: 400px;
      position: absolute;
      z-index: 9;
      width: 350px;
      background-color: white;

      h3 {
        font-weight: 800;
        width: 300px;
        padding: 0.5rem;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 3rem;
      }

      .desc {
        font-size: 13px;
        text-align: left;
        margin: 1.5rem 0;
        width: 70%;
        min-width: 300px;
        max-width: 300px;
      }

      .buttons {
        display: flex;
      }

      button {
        padding: 0.8rem 1rem;
        font-size: 12px;
      }

      .view {
        margin-right: 0.5rem;
        background-color: black;
        color: white;
        border: none;
        a {
          color: white;
        }
      }

      .explore {
        border: 1px solid black;
        background-color: transparent;
        a {
          color: black;
        }
      }
    }
  }
}

a,
button {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .product-info {
    right: 0;
    background-color: yellow;
  }

  .video-wrapper {
    background-image: url(../../assets/images/mobile-bg.webp);
    width: 70% !important;
    background-size: cover;
  }

  video {
    display: none;
  }

  .promo-img-wrapper {
    display: none !important;
  }
}
