<main>

    <header>
        <div class="promo-img-wrapper">
            <img class="main-img" src="../../assets/images/adidas/myshelter.png">
        </div>


        <div class="video-wrapper wrapper">
            <div class="overlay"></div>
            <div class="hero">
                <div>

                    <!-- <p class="desc">My Shelter</p> -->
                    <!-- <h1 class="brand-name">ADIDAS</h1> -->
                </div>



            </div>
            <video [muted]="true" and [autoplay]="true">
                <source type="video/mp4"
                    src="../../assets/videos/My Shelter -  Asian Kpop Idol for Adidas Original.mp4" />
            </video>
        </div>

        <div class="product-wrapper wrapper">


            <div class="product-info">

                <h3>My Shelter</h3>
                <p class="desc">This light waterproof and breathable adidas raincoat, advanced outdoor technology with
                    trench coat in
                    the city.

                </p>

                <div class="buttons">

                    <button class="view"><a>View Product</a></button>
                    <button class="explore"><a (click)="handleClick($event)" routerLink="/shop">Explore
                            More</a></button>
                </div>


            </div>

        </div>

    </header>

</main>