<div class="subtotal-wrapper">

    <h3>
        Order Summary
    </h3>

    <ul *ngIf="(basketTotal$ | async) as total">
        <li>

            <p> Subtotal</p>
            <p> {{total.subtotal | currency}}</p>

        </li>
        <li>

            <p>Standard Shipping</p>
            <p> {{2.99 |currency}}</p>

        </li>

        <li>

            <p>
                <strong>Total</strong>
            </p>
            <p><strong> {{total.total +2.99 | currency}}</strong></p>

        </li>


    </ul>

</div>