<div class="auth-page">
    <div class="form-wrapper">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2>Register</h2>
            <p class="message">Please Register to Continue </p>
            <app-text-inputs formControlName="username" [label]="'Username'"></app-text-inputs>
            <app-text-inputs formControlName="email" [label]="'Email Address'"></app-text-inputs>
            <app-text-inputs formControlName="password" [type]="'Password'" [label]="'Password'"></app-text-inputs>


            <ul class="text-danger">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>

            <button [disabled]="registerForm.invalid">Register</button>
            <hr>
            <p class="message"> Already have an account? Login <a routerLink="/account/login">Here</a> </p>

        </form>
    </div>
    <div class="cover-wrapper">
        <div class="cover-img"></div>
    </div>
</div>