.auth-page {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .form-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    button {
      margin: 2rem 0;
      padding: 1rem;
      width: 350px;
      border-radius: 5px;
      border: 1px solid transparent;
      background-color: black;
      color: white;
      text-transform: uppercase;
    }
    button:disabled,
    button[disabled] {
      background-color: #cccccc;
      cursor: auto;
    }
    hr {
      margin: 1rem 0;
    }

    .message {
      margin-top: 0.5rem;
      font-size: 13px;
      color: grey;
    }
  }

  .cover-wrapper {
    width: 50%;
  }

  .cover-img {
    background-image: url(../../../assets/images/auth-bg-1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  .auth-page {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .cover-wrapper {
      width: 100%;
    }

    .cover-img {
      width: 100%;
      background-image: url(../../../assets/images/auth-bg-2.jpg);
    }

    .form-wrapper {
      position: absolute;

      display: block;
      min-width: 450px;
      height: 70vh;
      display: flex;

      form {
        padding: 2rem;
      }
    }
  }
}
