.basket-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    margin-top: 1.5rem;
  }

  .service-info {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    margin-top: 2rem;

    p {
      font-size: 13px;
      color: rgb(224, 224, 224);
    }
  }

  .flex-wrapper {
    display: flex;
    padding: 4rem;
    justify-content: space-between;

    .summary-container {
      min-width: 50%;
      max-width: 100%;
    }
  }

  .checkout-wrapper {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    min-width: 35%;
    max-width: 100%;

    a {
      width: 100%;
      background-color: black;
      color: white;
      padding: 1rem;
      text-align: center;
      margin-top: 3rem;
    }
  }
}

@media (max-width: 600px) {
  .service-info {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .flex-wrapper {
    padding: 0 !important;
    flex-direction: column;
    justify-content: center;
  }

  .summary-container,
  .checkout-wrapper {
    width: 100%;
  }
}
