<footer>
    <div class="socials-wrapper">
        <h3>XOORIA</h3>
        <div class="socials">
            <h6>Twitter.com</h6>
            <h6>info@xooria.com</h6>
            <h6>facebook.com</h6>
            <h6>instagram.com</h6>
        </div>

    </div>
    <div class="links">

        <ul>
            <li>SHOP</li>
            <li>Adidas</li>
            <li>Nike</li>
            <li>Puma</li>
            <li>Vans</li>
        </ul>
        <ul>
            <li>CORPORATE INFO</li>
            <li>Careers</li>
            <li>Press</li>
            <li>Investor Relations</li>
            <li>Corporate Governance</li>
        </ul>

        <ul>
            <li>HELP</li>
            <li>Customer service</li>
            <li>My Account</li>
            <li>Store locator</li>
            <li> Terms & Privacy</li>
            <li>Contact</li>

        </ul>


    </div>
    <div class="copyright">
        <p>Copyright ©2021, Xooria . All rights reserved </p>

    </div>
</footer>