<div style="cursor: pointer;" routerLink="/shop/{{product.id}}" class="product-card">

    <div class="img-wrapper">
        <img style="cursor: pointer;" routerLink="/shop/{{product.id}}" src="{{product.pictureUrl}}"
            alt="{{product.name}}" />
    </div>

    <div class="product-name">
        <p>{{product.productBrand}}</p>
        <a routerLink="/shop/{{product.id}}">
            <h6>{{product.name}}</h6>
        </a>
    </div>
    <div>

        <!--|(this is a pipe) that formats the data, we know price is currency, so it will format it as currency-->
        <span class="price"> {{product.price | currency}}</span>


    </div>
    <!-- <div class="buttons">
        <button (click)="addProductToBasket()"><i class=" fa fa-shopping-cart "></i> Add </button>
        <button class="view-button" routerLink="/shop/{{product.id}}" routerLinkActive="router-link-active"
            type="button">View</button>

    </div> -->

</div>