nav {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  position: fixed;
  z-index: 9999;

  ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
  }
  li {
    margin: 0 0.5rem;
  }

  a {
    text-decoration: none;
    &.active {
      border-bottom: 1px solid white;
    }
  }

  h4 {
    font-weight: bold;
  }

  .links a {
    color: white;
  }

  .icon-links {
    display: flex;
    align-items: center;

    a {
      color: black;
      margin-right: 1rem;
    }

    img {
      width: 20px;
    }
  }

  #basket {
    font-size: 12px;
    position: relative;

    .cart-num {
      border-radius: 50%;
      background-color: black;
      color: white;
      padding: 0.3rem;
      position: absolute;
      width: 20px;
      right: 6px;
      top: 4px;
      text-align: center;
      font-size: 10px;
    }
  }

  .logged-user-wrapper {
    display: flex;
    align-items: center;

    .fa-sign-out {
      font-size: 1.3em;
    }
  }
}
