<nav [ngStyle]="{'background-color':bgColor}">
    <h4 class="logo"> <a [ngStyle]="{'color': logoColor}" routerLink="/" routerLinkActive=""
            [routerLinkActiveOptions]="{exact:true}">XOORIA</a></h4>

    <div [ngStyle]="{'display':displayState}">
        <ul class="links">
            <li>
                <a #links [ngStyle]="{'color': logoColor}" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li>
                <a #links [ngStyle]="{'color': logoColor}" routerLink="/shop" routerLinkActive="active">Shop</a>
            </li>

        </ul>
    </div>

    <div [ngStyle]="{'display':displayState}">

        <div class="icon-links">
            <div>
                <a id="basket" routerLink="/basket">
                    <span *ngIf="(basket$ | async) as basket" class="cart-num">{{basket.items.length}}</span>
                    <img src="../../../assets/icons/shopping-bag.png">

                </a>
            </div>

            <div *ngIf="(currentUser$ | async) === null">
                <a routerLink="/account/login" class=""><img src="../../../assets/icons/user.png"></a>
            </div>

            <div *ngIf="(currentUser$ | async) as currentUser">

                <div class="logged-user-wrapper">
                    <div (click)="logout()">
                        <img style="cursor: pointer;" src="../../../assets/icons/sign-out.png">
                    </div>

                </div>

            </div>
        </div>
    </div>




</nav>